<h1>Claude's Projects</h1>
<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2><%= project.title %></h2>
          <p>Heroku URL: <a href = "<%=project.heroku %>" target="_newtab"><%=project.heroku %></a></p>
          <p>Git Hub Repo: <a href = "<%=project.github %>" target="_newtab"><%=project.github %></a></p>
          <p>Description: <%= project.description %></p>
          <%= link_to 'View Project', project, class: "btn btn-primary" %>
          <br/>
          <div class="btn-group">
            <%= link_to 'Edit', edit_project_path(project) %> |
            <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
