<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Heroku:</strong>
  <a href = "<%=@project.heroku %>" target="_newtab"><%=@project.heroku %></a>
</p>

<p>
  <strong>Github:</strong>
  <a href = "<%=@project.github %>" target="_newtab"><%=@project.github %></a>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
